<div class="cloudapp-actions">
<button mat-raised-button color="secondary" [routerLink]="['']"><mat-icon>arrow_back</mat-icon>Back</button>
    <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
  </div>

<div class="loading-shade" *ngIf="saving">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form">
  <form [formGroup]="form">
	<section class="settings-section">
	  <mat-label>Ares URL:</mat-label>
      <input matInput formControlName="AresUrl" />
    </section>
	<section class="settings-section">
	  <mat-label>Ares API Key:</mat-label>
      <input matInput formControlName="AresApiKey" />
    </section>
  </form>
</div>
