    <div class="cloudapp-actions">
		<button mat-flat-button type="button" color="secondary" (click)="clearForm()">{{ 'ares.clear' | translate }}</button>
      <button mat-flat-button type="button" color="primary" (click)="search(identifier.value)">{{ 'ares.search' | translate }}</button>
	  <button *ngIf="almaCourse && readingLists && readingLists.reading_list && readingLists.reading_list.length > 1" mat-flat-button type="button" color="primary" (click)="placeOnReserve(identifier.value, 'use_selected_list')">{{ 'ares.reserve' | translate }}</button>
	  <button *ngIf="almaCourse && readingLists.reading_list && readingLists.reading_list.length == 1" mat-flat-button type="button" color="primary" (click)="placeOnReserve(identifier.value, readingLists.reading_list[0].id)">{{ 'ares.reserve' | translate }}</button>
	  <button *ngIf="almaCourse && readingLists.reading_list == null" mat-flat-button type="button" color="primary" (click)="placeOnReserveAndCreateList(identifier.value)">{{ 'ares.reserve' | translate }}</button>
    </div> 
	  
<div class="loading-shade" *ngIf="running">
  <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
    <form>
      <section class="settings-section">
        <mat-form-field>
          <mat-label>{{ 'ares.lookup_label' | translate }}</mat-label>
          <input matInput [formControl]="identifier">
        </mat-form-field>
      </section>
    </form>
 
	<mat-card *ngIf="almaCourse && readingLists">
	<mat-card-header>
	<mat-card-title>{{ 'ares.reading_list_info' | translate }}</mat-card-title>
	</mat-card-header>
 
	<div *ngIf="almaCourse && readingLists && readingLists.reading_list && readingLists.reading_list.length > 1">
	  <p>{{ 'ares.choose_list' | translate }}</p>
      <section class="settings-section">
        <mat-form-field>
          <mat-label>{{ 'ares.list' | translate }}</mat-label>
          <mat-select (valueChange)="changeValue($event)" [formControl]="readingLists.reading_list">
		  <mat-option *ngFor="let list of readingLists.reading_list" [value]=list.id>{{list.name}}</mat-option>
		  </mat-select>
        </mat-form-field>
      </section>
	</div>
	
	<div *ngIf="almaCourse && readingLists.reading_list && readingLists.reading_list.length == 1">
	  <p>{{ 'ares.one_list' | translate }} {{readingLists.reading_list[0].name}}. {{ 'ares.placed_on_list' | translate }}</p>
	</div>
	
	<div *ngIf="almaCourse && readingLists.reading_list == null">
	  <p>{{ 'ares.no_list' | translate }}</p>
	</div>
	</mat-card>
	
    <mat-card *ngIf="record">
      <mat-card-header>
        <mat-card-title>{{ 'ares.request_info' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><strong>{{ 'ares.title' | translate }}</strong> {{ record.title }}</li>
          <li><strong>{{ 'ares.author' | translate }}</strong> {{ record.author }}</li>
        </ul>
      </mat-card-content>
    </mat-card>

	  <mat-card *ngIf="aresCourse">
      <mat-card-header>
        <mat-card-title>{{ 'ares.ares_course' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><strong>{{ 'ares.course' | translate }}</strong> {{ aresCourse.name }}</li>
          <li><strong>{{ 'ares.instructor' | translate }}</strong> {{ aresCourse.instructorDisplayName }}</li>
        </ul>
      </mat-card-content>
	  </mat-card>
	  <mat-card *ngIf="!almaCourse && aresCourse">
      <mat-card-header>
	  <mat-card-title>{{ 'ares.no_alma_match' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'ares.please_check' | translate }}</p>
      </mat-card-content>
    </mat-card> 
	  <mat-card *ngIf="almaCourse">
      <mat-card-header>
	  <mat-card-title>{{ 'ares.alma_course' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><strong>{{ 'ares.course' | translate }}</strong> {{ almaCourse.name }}</li>
          <li><strong>{{ 'ares.course_code' | translate }}</strong> {{ almaCourse.code }}</li>
        </ul>
      </mat-card-content>
    </mat-card> 